p, span {
    font-family: 'Open Sans', sans-serif;
}

.paw-holder{
    width: 100%;
}

.paw-icon{
    width: 100%;
    max-width: 120px;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFFF3;
}

.big-main-img-holder {
    width: 100%;
}

.big-main-img-row {
    padding-left: 0px;
    border: dotted black;
}

.big-main-img {
    width: 100%;
    height: auto;
    background-color: pink;
    background-color: blueviolet;
    object-fit: cover;
    border-radius: 60px;
    border: solid 2px #99DBFF;
}

.prod-by-anim-row {
    border: dotted white;
}

.services-text {
    font-size: 3vw;
    text-align: center;
    width: 100%;
}

.services-row{
    border: dotted blue;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: flex;
        width: 50%;
    }
    .carousel-inner .carousel-item > div:nth-child(2) {
        display: flex;
        width: 50%;
    }
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(50%);
    }
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.card {
    border: #99DBFF 2px solid;
    border-radius: 20px;
    overflow: auto;
    background-color: B6E5FF;
    height: auto;
    padding: 1em;  
}

.card:hover {
    width: 110%;
    height: 110%;
    margin-left: -5%;
    margin-right: -5%;
}

.card-holder:hover {
    height: fit-content;
}

.card-img-holder{
    border: #99DBFF 2px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 1em 0;
    width: auto;
    height: 13vw;
}

.card-img{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.product-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
}

.product-price{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: #363636;
}

.card-holder{
    height: fit-content;

}

.text_1 {
    color: #363636;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.text_2 {
    color: #363636;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.bar1 {
    background-color: #B6E5FF;
}

.bar2 {
    background-color: #99DBFF;
}
